<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="SitecoreDev.Feature.Search.Pipelines.RegisterRoutes.RegisterRoutes, SitecoreDev.Feature.Search" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>

    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="blogbody" storageType="no" indexType="untokenized">SitecoreDev.Feature.Search.Models.BlogBodyComputedField, SitecoreDev.Feature.Search
            </field>
            <field fieldName="blogtitle" storageType="no" indexType="untokenized">SitecoreDev.Feature.Search.Models.BlogTitleComputedField, SitecoreDev.Feature.Search
            </field>
            <field fieldName="blogcategories" storageType="no" indexType="untokenized">SitecoreDev.Feature.Search.Models.BlogCategoriesComputedField, SitecoreDev.Feature.Search
            </field>
          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>